<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <h1>User <%= user %> Order Details History</h1>
                    <% orders.forEach(order => { %>
                        <li>
                            
                            <h1>Order <%= order.id %></h1>
                           
                            <ul>
                                <% order.products.forEach(product => { %>

                                    
                                    <form>
                                        <li>
                                        <label>OrderItem: <%= product.title %></label>
                                        <label> #Quantity: <%= product.orderItem.quantity %></label>
                                    </li>
                                    </form>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>

        </main>
        <%- include('../includes/end.ejs') %>